﻿@model IEnumerable<BooX.Models.Listing> 
@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_navbar.cshtml";
}
<style>
    .homepage {
        background-color: transparent;
        color: black;
        text-align: left;
        font-size: 12pt;
        width: auto;
    }
    th{
        text-align:center;
    }

    input {
        border: 2px solid #009635;
        border-radius: 15px;
    }
    p{
        font-size: 20px;
    }
    table {
        background-color: white;
        width: 100%;
        font-size: 20px;
        margin-top: 3%;
        border: 10px solid #009635;
        color: black;
        padding: 10px;
    }
    thead{border :2px solid black}
    tr{margin-top:10px;}
    #sButton{
        background-color: #009635;
        font-weight: bold;
        color: white;
        font-size:25px;
    }
</style>
<div class="homepage">
    <img src='@Url.Content("~/Content/Images/icon_search.png")' style="width:150px; float:left;" />
    <p style="font-size: 59px">Search</p>   
        @using (Html.BeginForm("Index", "SearchR"))
        {
            <p>
                <input type="text" name="searchString" size="40" required="required" />
                Search By: <select name="searchBy">
                    <option value="0">Title</option>
                    <option value="1">Author</option>
                    <option value="2">Publisher</option>
                </select>
                <input type="submit" id="sButton" value="Search" />
            </p>
        }
        <table cellpadding="3">
            <thead><tr>
                <th>Image</th>
                <th>Title</th>
                <th>ISBN</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Edition</th>
                <th>Year</th>
                <th>Price</th>
                <th>Condition</th>
                <th>Date Listed</th>
                <th>Status</th>
                <th>Message User</th>
                <th>View Profile</th>
            </tr></thead>
            @foreach (var book in Model)
            {
            <tr>
                @{
                var imgName = book.Book_ID + ".jpg";
                }
                <td><img src="~/Content/BookImages/@imgName" width="75" height="100" /></td>
                <td>@book.Book.Title</td>
                <td>@book.Book.ISBN</td>
                <td>@book.Book.Author_Name</td>
                <td>@book.Book.Publisher_Name</td>
                <td>@book.Book.Edition</td>
                <td>@book.Book.Year</td>
                <td>@book.Price</td>
                <td>@book.Condition.Type</td>
                <td>@book.Date_Listed.ToString()</td>
                <td>@book.Status.Value</td>
                <td>@Html.ActionLink("Buy this book!", "CreateMessage", "Master", new { ID = @book.Id }, null)</td>
                <td>@Html.ActionLink(@book.User.Full_name, "otherProfile", "Master", new { userID = @book.User.ID }, null)</td>
            </tr>
            }            
        </table>
</div>
