﻿

<style>
    .homepage {
        border: 10px solid #0094ff;
        border-radius: 70px;
    }
     input {
    border:2px solid #0094ff;
    border-radius:15px;


    }
</style>

<div class= "homepage">

    <img src='@Url.Content("~/Content/Images/Logo.png")' width="250" />
   
     <h1>Register to BOOX</h1>


    <form action="~/Profile" method="post">
       
            <table cellpadding="3">
                <tr><td width="150px"><strong>Username (Email): </strong></td><td><input type="text" name="username"></td></tr>
                <tr><td><strong>First name: </strong></td><td><input type="text" name="firstname"></td></tr>
                <tr><td><strong>Last name: </strong></td><td><input type="text" name="lastname"></td></tr>
                <tr><td><strong>Email: </strong></td><td><input type="text" name="email"></td></tr>
                <tr><td><strong>Password: </strong></td><td><input type="text" name="password"></td></tr>
                <tr><td><strong>Confirm Password: </strong></td><td><input type="text" name="confirmPassword"></td></tr>
                <tr><td><strong>Telephone: </strong></td><td><input type="text" name="telephone"></td></tr>


            </table>
        
        <input type="submit" value="Signup">
        </form>
        
</div>
