﻿@{
    ViewBag.Title = "Settings";
}

<style>
    form {    
        float:left;
    }
  .homepage{
     width:1000px;
    color: black;
    text-align: left;
    border: 10px solid #af002c;
    border-radius:70px;

    } 
 
    #rightSide {
     float:right;
      
    }

      input {
    border:2px solid #af002c ;
    border-radius:15px;


    }
    
      p{
          font-weight:bold;


      }
</style>


<img src='@Url.Content("~/Content/Images/icon_cog.png")' style="width:150px; float:left;" />
<h1> Settings</h1>

<div class="homepage">
  
            
            <form id="settings">
                <p>Your name:</p>
                <input id="newName" type="text"/>
            <br>
                <p>Your username:</p>
                <input id="newUserName" type="text"/>
            <br>
                <p> Email:</p>
            <input id="newEmail" type="text"/>         
            <br><br>
            <p style=" font-size:25pt"> Change Your Passoword</p>        
                <p>Enter new password:</p>
                <input id="newPass" type="text"/>
            <br>        
                <p>Re-enter new password:</p>
                <input id="re-enterNew" type="text"/>
                <input type="submit" value="Submit Changes" id="sButton"/>
            </form>

            <div id="rightSide">
                <p><img src="~/Content/Images/picture.jpg" width="150" height="150" ></p>
                <input type="submit" value="Change your photo" id="sButton" style="margin-right:25px;">

            </div>
    </div>

