﻿@model BooX.Models.User
<style>
    .form-control{
        border: 2px solid #0094ff;
        border-radius: 15px;
        width: 350px;
       text-align : center;
    }

    .homepage {
        border: 10px solid #0094ff;
        border-radius: 70px;
    }
    #sButton{
        background-color: #0094ff;
        font-weight: bold;
        color: white;
        width: 100%;
    }
</style>
<div class="homepage">
    <img src='@Url.Content("~/Content/Images/Logo.png")' width="250"/>
    <div class="container">
            <h1>Login</h1>
            @using (Html.BeginForm("Login", "Master", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <table style="width:auto; margin-left:auto; margin-right:auto;">
                        <tr>
                            <td> @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </td>
                        </tr>  
                       <tr>
                            <td> @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                            <td>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </td>
                       </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="login" id="sButton"/></td>
                        </tr>
                   </table>
                    @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="login" class="btn btn-default" />
                        </div>
                    </div>*@
                </div>
            }

        </div>
        <div class="login-help">
            <p>
                Don't have an account?
                <a href="~/Master/CreateUser">Sign Up</a>
            </p>
            <p><a href="~/Master/LostPassword">Forgot your password?</a></p>
        </div>
    </div>


