﻿@{
    ViewBag.Title = "Messages";
}
<style type="text/css">
    input {
        border:2px solid orange ;
        border-radius:15px;
    }
    
    ul {
        list-style-type: none;
        text-align:left;
    }

    a {
        text-decoration: none;
    }

    #nav {
        float: left;
        border: 2px solid orange;
        height: 500px;
        margin-right: 20px;
        border-radius: 15px;
    }

    fieldset {
        border: 2px solid orange;
        height: 500px;
        overflow: auto;
    }

    #nav a:hover {
        color: red;
    }
    .header {
        overflow:hidden;
        padding-left:5px;
    }
    .homepage {
        border: 10px solid #ffae00;
        border-radius:70px;
        font-size:15pt;

     }

</style>
<div class="homepage">
  <div class="header">
      <img id="headerImg" src='@Url.Content("~/Content/Images/icon_envelope.png")' width="150" ; />
    <h1> Messages </h1>

      </div>
    <div id="nav">
        <ul>
            <li><a href="~/Messages/NewMessage">New</a></li>
            <li><a href="~/Messages/Index">Inbox</a></li> 
            <li>Sent Items</li>
        </ul>
    </div>
    <div id="content">
        <fieldset>
            <table cellpadding="30">
                <tr><td><a href="~/Messages/SpecificMessage"><input type="checkbox"> Maryam Ghandour</a></td>  <td>Subject: Want to be a SUPERSTAR! </td>   <td> Yesterday 10:30 AM</td></tr>
                <tr><td><input type="checkbox"> Sarah Fakhoury</td>  <td>Subject: Can I buy your math book? </td>   <td> Yesterday 10:31 AM</td></tr>
                <tr><td><input type="checkbox"> Farah Nahle</td>  <td>Subject: $5 last offer </td>   <td> Yesterday 10:30 AM</td></tr>
                <tr><td><input type="checkbox"> Mahmoud Bdeir</td>  <td>Subject: Your prototype is ugly </td>   <td> Yesterday 10:30 AM</td></tr>
                <tr><td><input type="checkbox"> Hanan Alkhatib</td>  <td>Subject: Whats up? </td>   <td> Yesterday 10:30 AM</td></tr>
                <tr><td><input type="checkbox"> Maryam Ghandour</td>  <td>Subject: LAST CHANCE 2345 JOB VACANCIES </td>   <td> Yesterday 10:30 AM</td></tr>
                <tr><td><input type="checkbox"> Leila Knio</td>  <td>Subject:Want to be a SUPERSTAR! </td>   <td> Yesterday 10:30 AM</td></tr>
                <tr><td><input type="checkbox"> Mohammad Hassoun</td>  <td>Subject:Want to be a SUPERSTAR! </td>   <td> Yesterday 10:30 AM</td></tr>
            </table>
        </fieldset>
    </div>

</div>