﻿
    <style>
        .cake{ 
            border:none; width:500px;

        }
        #headerImg {
            float:left;
            padding-bottom: 20px;
        }

         .homepage{
        width:110%;
        color: black;
        text-align: left;
        border: 10px solid orange;
        border-radius:70px;

    } 
        #content {
            border:2px solid white;
            clear:left;
            background-color:white;
             margin-top:30px;
             height: 450px;
        }
        fieldset{padding:10px; height:300px;}
       
        #textIn {
            width:700px;
            height:250px;

        }



    </style>
 
        <img id="headerImg"src="~/Content/Images/Pencil-icon.png"  width="150" />
        <h1>New Message</h1>

<div class="homepage">
    <div id="content">
        <fieldset class="cake">
            <table cellpadding="10">
                <tr>
                    <td> To: </td>
                    <td><input type="text" name="Recepient" /></td>
                </tr>
                <tr>
                    <td>Subject: </td>
                    <td><input type="text" name="Sender" /></td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="3"><input type="text" id="textIn" /></td>
                </tr>
            </table>
                <input type="submit" value="Send" id="sButton">
          
        </fieldset>

        
    </div>
</div>

