﻿
<style>
    body {
        font-size: 12pt;
    }

    #middleSide {
        text-align: center;
    }

    #content {
        font-size: 30px;
    }
</style>

<div class="homepage">
    <div id="middleSide">
        <img src="~/Content/Images/aubLogo.png" width="100" height="100" />
	    <p>CAREER AND PLACEMENT SERVICES</p>
	    <p>Student Affairs</p>
    </div>
    <h1 id="header"> <strong>Audition:</strong></h1>

    <div id="content">
	    <p><strong>If you are interested to participate in this magnificent Job Fair Gala Dinner, please send an email to <a href="mailto:mg03@aub.edu.lb">mg03@aub.edu.lb</a>specifying in the subject line the talent and include your name, mobile number and availability to audition in the body of the message.</strong></p>
	    <img src="~/Content/Images/superStar.png">
    </div>
		
</div>