﻿@using BooX.Models
 @model BooX.Models.User


    @{
        ViewBag.Title = "Profile";
    }

    <style>
        .homepage {
            border: 10px solid #bf00ff;
            border-radius: 70px;
            background-color: white;
            color: black;
        }


        input {
            border: 2px solid #bf00ff;
            border-radius: 15px;
        }
    </style>

    <div class="homepage">
        <img src='@Url.Content("~/Content/Images/icon_smile-o.png")' width="150" ; />
        
        @*<p> @Model.Full_name </p>
        <p> @Model.Email</p>
        <p> @Model.ID 
        
          
        </p>*@


        <table id="profTable">
            <tr>
                <td><a href="~/Profile/BookDetail"><img src="~/Content/Images/Bbook.png" width="200" /></a> </td>
                <td><img src="~/Content/Images/book1.png" width="200" /> </td>
            </tr>
            <tr>
                <td>The Illiad</td>
                <td>Thomas Calculus</td>
            </tr>
            <tr>
                <td><img src="~/Content/Images/book2.png" width="200" /> </td>
                <td><img src="~/Content/Images/Bbook.png" width="200" /> </td>
            </tr>
            <tr>
                <td>Advanced Algorithms And Data Structures</td>
                <td>St. Augustine</td>
            </tr>
        </table>
    </div>
