﻿@model BooX.Models.Book

@{
    ViewBag.Title = "BookEdit";
    Layout = "~/Views/Shared/_navbar.cshtml";
}
<style>
    .homepage {
        width: 100%;
        color: black;
        text-align: left;
        border: 10px solid #af002c;
        border-radius: 70px;
    }

    table {
        font-size: 20px;
    }

    input {
       border: 2px solid #af002c;
        border-radius: 15px;
        border-radius: 15px;
        margin-left: 100px;
        width: auto;
        padding: 5px;
        align-items:center;
    }
    
    #sButton {
        width: 80%;
        float: left;
        background-color: #af002c;
         margin-left: 100px;
        font-weight: bold;
        color: white;
        font-size: 20px;
    }

    #title {
        display: inline-block;
        vertical-align: central;
        width: 100%;
        font-size: 30px;
    }

        #title h1 {
            padding-top: 35px;
        }

    #list a{
        color:#af002c;
    }
    #list{
           font-size:30px;
         text-align:center;
    }
</style>
<div id="title">
    <img src='@Url.Content("~/Content/Images/icon_cog.png")' style="width:150px; float:left;" />
    <h1 style="color:black"> BookEdit</h1>
</div>
<div class="homepage">
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
        </div>
            <table id="Book" cellpadding="10">

                <tr>
                    <td>@Html.LabelFor(model => model.ISBN, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>
                        @Html.EditorFor(model => model.ISBN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ISBN, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })</td>

                    <td>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Author_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Author_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Author_Name, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.Publisher_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Publisher_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Publisher_Name, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr class="form-group">
                    <td>
                        @Html.LabelFor(model => model.Edition, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Edition, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Edition, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        <input type="file" name="file" id="file" value="Upload Book Cover" />
                    </td>
                </tr>

                <tr class="form-group">
                    <td></td>
                    <td>
                        <input type="submit" value="Save" id="sButton" />
                    </td>
                </tr>

            </table>
            }


        </div>
