﻿@model IEnumerable<BooX.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_navbar.cshtml";
}
<style>

    .table {
        font-size:20px;
    }
    .homepage {
         width: 100%;
        color: black;
        text-align: left;
        border: 10px solid #af002c;
        border-radius: 70px;
    }

    #title {
        display: inline-block;
        vertical-align: central;
        width: 100%;
    }

    #title h1 {
        padding-top: 35px;
     }
</style>
<div id="title">
    <img src='@Url.Content("~/Content/Images/icon_cog.png")' style="width:150px; float:left;" />
    <h1 style="color:black"> User Book Information</h1>
</div>

<div class="homepage">
    <table class="table" cellpadding="30" cellspacing="20">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.ActionLink("Edit", "BookEdit", new { id = item.Id })

                </td>
            </tr>
        }

    </table>
</div>