﻿@model BooX.Models.Book

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_navbar.cshtml";
}

<style>
    .homepage {
        color: black;
        border: 10px solid #5e6bff;
        border-radius: 70px;
        font-size: 20px;
        width: auto;
        margin-left:auto;
        margin-right:auto;
    }

    input {
        border: 2px solid #5e6bff;
        border-radius: 15px;
        margin-left: 100px;
        width: auto;
        padding: 5px;
        align-items:center;
    }

    #sButton{
    width: 80%;
    float: right;
    background-color:#5e6bff;
    font-weight:bold;
    color: white;
    }
    td{
        text-align:left;
    }

</style>
<div id="title">
    <img src='@Url.Content("~/Content/Images/icon_plus.png")' style="width:150px; float:left;" />
    <h1 style="color:black"> Add Your Book </h1>
</div>
<div class="homepage">

    @using (Html.BeginForm("CreateB", "Master", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <table id="Book" cellpadding="10">
                <tr>
                    <td>Upload Image Here: </td>
                    <td><input type="file" name="file" id="file" value="Upload Book Cover" /></td>
                </tr>
                <tr>
                    <td>ISBN</td>
                    <td>
                        @Html.EditorFor(model => model.ISBN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ISBN, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>Author</td>
                    <td>
                        @Html.EditorFor(model => model.Author_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Author_Name, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>Publisher</td>
                    <td>
                        @Html.EditorFor(model => model.Publisher_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Publisher_Name, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td>
                        @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>Edition</td>
                    <td>
                        @Html.EditorFor(model => model.Edition, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Edition, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Next" id="sButton" /></td>
                </tr>
            </table>
      </div>
     }
</div>       
     @*<div class="form-group">
            <label>Upload Image Here:</label>
                    <img src="~/Content/Images/book2.png" width="200" height="200">
                    <input type="file" name="file" id="file" value="Upload Book Cover" />
                
        </div>
       <div class="form-group">
                @Html.LabelFor(model => model.ISBN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ISBN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ISBN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Author_Name, "Author Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Author_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Author_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Publisher_Name, "Publisher Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Publisher_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Publisher_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Edition, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Edition, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Edition, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Next" class="btn btn-default" />
                </div>
            </div>
        </div>*@
