﻿@model BooX.Models.User

@{
    ViewBag.Title = "Register";
}


<style>
    .homepage {
        color: black;
        border: 10px solid #5e6bff;
        border-radius: 70px;
        font-size: 20px;
        width: auto;
        margin-left:auto;
        margin-right:auto;
    }
    input {
        border: 2px solid #5e6bff;
        border-radius: 15px;
        margin-left: 100px;
        width: auto;
        padding: 5px;
        align-items:center;
    }
        td{
        text-align:left;
    }

    #sButton{
    width: 80%;
    float: right;
    background-color:#5e6bff;
    font-weight:bold;
    color: white;
    }
</style>

<div class="homepage">
    <img src='@Url.Content("~/Content/Images/Logo.png")' width="250" />
    <h1>Register to BOOX</h1>
    @using (Html.BeginForm("CreateUser", "Master", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
       @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table id="Book" cellpadding="10">
            <tr>
                <td>Email</td>
                <td>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td> Name</td>
                <td>
                    @Html.EditorFor(model => model.Full_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Full_name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td>
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Upload Profile Picture</td>
                <td>
                    <input type="file" name="file" id="file" value="Upload Profile Picture" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Create" id="sButton" /></td>
            </tr>
        </table>
        </div>
        }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

        @*<div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Full_name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Full_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Full_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Picture, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Picture, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div id="upload">
                    <img src="~/Content/Images/book2.png" width="200" height="200">
                    <input type="file" name="file" id="file" value="Upload Profile Picture" />
                </div>
            </div>*@
