﻿@model BooX.Models.Listing

<style>
      td {
        height:20px;
    }
      table{
          font-size:12px;
      }
      th{
          text-align:center;
      }
</style>
<table class="table" >
    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Edition</th>
        <th>Year</th>
        <th>Price</th>
        <th>Condition</th>
        <th>Status</th>
        <th>Department</th>
        <th>Date Listed</th>
       
    </tr>
        <tr>
            <td>
                @{
                      var imgName = @Model.Book_ID + ".jpg";
                }
                <img src="~/Content/BookImages/@imgName" alt="" height="100" width="75" />
            </td>
        
            <td>
              @Model.Book.Title
            </td>
            <td>
              @Model.Book.ISBN
            </td>

            <td>
                @Html.DisplayFor(modelItem => @Model.Book.Author_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Book.Publisher_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Book.Edition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Book.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Condition.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Status.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Course.Course_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Date_Listed)
            </td>
        </tr>
    }

</table>
