﻿@model BooX.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_navbar.cshtml";
}
<style>
    

    .homepage {
        width: 100%;
        color: black;
        text-align: left;
        border: 10px solid #af002c;
        border-radius: 70px;
    }
    .table {
        font-size:20px;
    }
    input {
        border: 2px solid #af002c;
        border-radius: 15px;
        border-radius: 15px;
        margin-left: 100px;
        width: auto;
        padding: 5px;
        align-items:center;
    }


     #sButton{
        width: 80%;
        margin-left: 100px;
        background-color:#af002c;
        font-weight:bold;
        color: white;
        font-size:20px;
    }
    #title {
        display: inline-block;
        vertical-align: central;
        width: 100%;
        font-size:30px;
    }

        #title h1 {
            padding-top: 35px;
        }
</style>
<div id="title">
    <img src='@Url.Content("~/Content/Images/icon_cog.png")' style="width:150px; float:left;" />
    <h1 style="color:black"> Edit</h1>
</div>

<div class="homepage">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <table id="Book" cellpadding="10">
        <tr>
            <td>
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Full_name, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.Full_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Full_name, "", new { @class = "text-danger" })
            </td>
         </tr>
        <tr>
            <td>
               @Html.LabelFor(model => model.Picture, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                <input type="file" name="file" id="file" value="Upload Your Photo" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
               @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
               @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td>
               @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td><input type="submit" value="Save" id="sButton" /></td>
        </tr>
    </table>
       
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
