﻿@model BooX.Models.Listing

@{
    ViewBag.Title = "EditListing";
    Layout = "~/Views/Shared/_navbar.cshtml";
}
<style>
    .homepage {
        width: 100%;
        color: black;
        text-align: left;
        border: 10px solid #af002c;
        border-radius: 70px;
    }


    input {
       border: 2px solid #af002c;
        border-radius: 15px;
        border-radius: 15px;
        margin-left: 110px;
        width: auto;
        padding: 5px;
        align-items:center;
    }
    .form-control {
        margin-left: 110px;
    }

    #sButton {
        width: 80%;
         margin-left: 110px;
        background-color: #af002c;
        font-weight: bold;
        color: white;
        font-size: 20px;
    }

    #title {
        display: inline-block;
        vertical-align: central;
        width: 100%;
        font-size: 30px;
    }

        #title h1 {
            padding-top: 35px;
        }

    #list a {
        color: #af002c;
    }

    #list {
        font-size: 30px;
        text-align: center;
    }
</style>


<div id="title">
    <img src='@Url.Content("~/Content/Images/icon_cog.png")' style="width:150px; float:left;" />
    <h1 style="color:black"> Edit Listing</h1>
</div>

<div class="homepage">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
</div>
        <table id="Book" cellpadding="20">
            <tr>
                <td>
                    @Html.LabelFor(model => model.Book_ID, "Book", htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.DropDownList("Book_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Book_ID, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Condition_Id, "Condition_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.DropDownList("Condition_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Condition_Id, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </td>
            </tr>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.Date_Listed, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date_Listed, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Date_Listed, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <tr>
                <td>
                    @Html.LabelFor(model => model.Status_ID, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                    
                <td>
                    @Html.DropDownList("Status_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Status_ID, "", new { @class = "text-danger" })
                </td>
            </tr>

    <tr>
        <td>
            @Html.LabelFor(model => model.Course_ID, "Department", htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DropDownList("Course_ID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Course_ID, "", new { @class = "text-danger" })
        </td>
    </tr>

    <tr>
        <td></td>
        <td class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" id="sButton" />
        </td>
    </tr>
</table>
}
</div>

