﻿@model IEnumerable<BooX.Models.User>
<style>
    #login {
        font-size:24px;
        margin-top:15px;
    }
    .homepage {
        border: 10px solid #b94a48;
        border-radius:25px;
    }
    #sButton{
        font-weight:bold;
        color: white;
        background-color:#b94a48;
    }
</style>
@{
    ViewBag.Title = "Error";
}
<div class="homepage">
    <form action="~/Home/Index">
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">Invalid username or password... Please login again!</h2>
        <input type="submit" value="Login" id="sButton" />
    </form>
</div>