﻿@model BooX.Models.Listing

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_navbar.cshtml";
}
<style>
    .form-horizontal {
        float: left;
    }

    .homepage {
        width: 100%;
        color: black;
        border: 10px solid #5e6bff;
        border-radius: 70px;
        font-size: 20px;
    }

    #upload {
        float: right;
    }
        #title {
        display: inline-block;
        vertical-align: central;
        width: 100%;
        font-size:30px;
    }

        #title h1 {
            padding-top: 35px;
        }
          #sButton{
        width: 80%;
        margin-left: 200px;
        background-color:#5e6bff;
        font-weight:bold;
        color: white;
        font-size:20px;
    }
    input {
        border: 2px solid #5e6bff;
        border-radius: 15px;
        margin-left: 200px;
        width: 75px;
    }

    .form-control{
        margin-left: 200px;
    }

</style>

<div id="title">
    <img src='@Url.Content("~/Content/Images/icon_plus.png")' style="width:150px; float:left;" />
    <h1 style="color:black"> Add a Book </h1>
</div>
<div class="homepage">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()



    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @*div class="form-group">
                @Html.LabelFor(model => model.Book_ID, "Book_ID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Book_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Book_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.User_ID, "User_ID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("User_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.User_ID, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <table cellpadding="10" id="Book">
            <tr>
                <td>
                    @Html.LabelFor(model => model.Condition, "Condition", htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.DropDownList("Condition_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Condition, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </td>
            </tr>


        <tr>
            <td>
                @Html.LabelFor(model => model.Status_ID, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.DropDownList("Status_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status_ID, "", new { @class = "text-danger" })
            </td>
         </tr>


         <tr>
             <td>
                 @Html.LabelFor(model => model.Course_ID, "Course", htmlAttributes: new { @class = "control-label col-md-2" })
             </td>
             <td>
                 @Html.DropDownList("Course_ID", null, htmlAttributes: new { @class = "form-control" })
                 @Html.ValidationMessageFor(model => model.Course_ID, "", new { @class = "text-danger" })
             </td>
          </tr>
          <tr>
                <td>
                </td>
                <td>
                  <input type="submit" value="Create" id="sButton" />
                </td>
          </tr>
  </table>    
        </div>
   }     
    
  </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
