﻿@model IEnumerable<BooX.Models.Listing>
<style>
   td{
       font-size:19pt;
   }
</style>

    @foreach (var item in Model)
    {<tr>
        <td>
            @{
        var imgName = item.Book_ID + ".jpg";
            }
            <img src="~/Content/BookImages/@imgName" alt="" height="150" width="112" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Author_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Publisher_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Edition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Condition.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Course_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Listed)
        </td>
    </tr>
    }
