﻿@model IEnumerable<BooX.Models.Listing>

@{
    ViewBag.Title = "ListingIndex";
    Layout = "~/Views/Shared/_navbar.cshtml";
}
<style>
    .homepage {
        width: 1000px;
        color: black;
        text-align: left;
        border: 10px solid #af002c;
        border-radius: 70px;

    }
      #title {
        display: inline-block;
        vertical-align: central;
        width: 100%;
        font-size: 30px;
    }

        #title h1 {
            padding-top: 35px;
        }

    .table {
        font-size: 20px;
    }

</style>

<div id="title">
    <img src='@Url.Content("~/Content/Images/icon_cog.png")' style="width:150px; float:left;" />
    <h1 style="color:black">Listing Information</h1>
</div>
<div class="homepage">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Course_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Listed)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Condition.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Course_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Listed)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditListing", new { id = item.Id })

                </td>
            </tr>
        }

    </table>
</div>