﻿@model BooX.Models.User
@{
    ViewBag.Title = "Lost Password";
}
<style>
    form {    
        float:left;
    }
  .homepage{
     width:1000px;
    color: black;
    text-align: left;
    border: 10px solid #af002c;
    border-radius:70px;
    } 
    .form-control{
        border:2px solid #af002c ;
        border-radius:15px;
       width: 350px;
       text-align:center;
    }
    #sButton{
        background-color: #af002c;
        font-weight: bold;
        color: white;
        
    }
</style>
<div id="title">
    <img src='@Url.Content("~/Content/Images/lostPass.ico")' style="width:150px; float:left;" />
    <h1 style="color:black"> Retrieve Lost Password </h1>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="homepage">
        <p>We can help you retrieve your password. Please, enter your E-mail.</p>
        <form><table cellpadding="10"><tr>
                     <td>@Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })</td>
                     <td><input type="submit" id="sButton" value="Send Recovery Email" /></td>
        </tr></table></form>
       
        </div>
}
