﻿@model IEnumerable<BooX.Models.Message>
@{Layout = "~/Views/Shared/_navbar.cshtml";}
<style type="text/css">   

    #nav a:hover {
        color: red;
    }
    .header {
        overflow: hidden;
        padding-left: 5px;
        margin-left:auto;
        margin-right:auto;
        width:auto;
    }
    td, th{
        font-size: 20px;
    }
    .homepage{
        border: 10px solid #ffae00;
        border-radius: 70px;
        width: 100%;
        color: black;
    }
</style>
<div class="homepage">
    <div class="header">
        <img src='@Url.Content("~/Content/Images/icon_envelope.png")' width="150" />
    </div>
    <div id="content">
        <table class="table" cellpadding="15">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    Reply
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.ActionLink("Reply", "replyMessage", "Master", item, new { @class = "yourCSSclass", @style = "color: black;" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>