﻿@using BooX.Models
 @model BooX.Models.User
@{
    Layout = "~/Views/Shared/_navbar.cshtml";
}
<style>
    input {
        border: 2px solid #bf00ff;
        border-radius: 15px;
    }

    body {
        zoom: .65001;
        align-content: center;
    }

    #profTable {
        font-size: 20pt;
        width: inherit;
        /*border:2px dashed red;*/
        width: 1200px;
    }

    td {
        width: auto;
    }

    tr {
        /*border-bottom: 2px dotted black;*/
    }

    .homepageProfile {
        zoom: .65;
        border: 10px solid #bf00ff;
        border-radius: 70px;
        background-color: white;
        font-size: 22pt;
        width: 1500px;
        overflow: auto;
        color: black;
        padding: 0px;
        margin: 0%;
        text-align: center;
        padding-top: 1%;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="homepageProfile">
    @{
        var iName = "/Images/icon_smile-o.png";
        if (Model.ID != 0)
        {
            iName = "/UserImages/" + @Model.ID + ".jpg";
        }
        else if (Model.ID == 0)
        {
            iName = "/Images/icon_smile-o.png";
        }
    }

    <img src="~/Content/@iName" width="150" height="150" />

    <h1> @Model.Full_name </h1>
    <h2> @Model.Email</h2>
    <hr />
    <table id="profTable" cellpadding="10">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>ISBN</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Edition</th>
                <th>Year</th>
                <th>Price</th>
                <th>Condition</th>
                <th>Status</th>
                <th>Department</th>
                <th>Date Listed</th>
            </tr>
        </thead>
        @Html.Action("Listing1", "Master", new { user = Model })
    </table>
</div>

