﻿@model BooX.Models.Rating

@{
    ViewBag.Title = "Rating";
}

<h2>Rating</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Rating</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.rating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
            @{
                var listItems = new List<SelectListItem>();
                listItems.Add(new SelectListItem { Text = "Yes", Value = "1" });
                listItems.Add(new SelectListItem { Text = "No", Value = "0" });
            }

            @Html.DropDownListFor(m => m.rating, listItems);
                @Html.ValidationMessageFor(model => model.rating, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Rate" class="btn btn-default" />
            </div>
        </div>
    </div>
}



