﻿@model BooX.Models.Message
@{Layout = "~/Views/Shared/_navbar.cshtml";}
<style>
    .cake {
        border: none;
        width: 500px;
    }

    #headerImg {
        float: left;
        padding-bottom: 20px;
    }

    .homepage {
        width: 100%;
        color: black;
        text-align: left;
        border: 10px solid orange;
        border-radius: 70px;
    }

    #content {
        border: 2px solid white;
        clear: left;
        background-color: white;
        margin-top: 30px;
        height: 350px;
    }

  
     #title {
        display: inline-block;
        vertical-align: central;
        width: 100%;
        font-size: 30px;
    }
    input {
        border:3px solid orange;
    }

        #title h1 {
            padding-top: 35px;
        }

    #inputContent {
        height:150px;
      
    }
     #sButton {
        width: 100%;
        float: left;
        background-color: orange;
        font-weight: bold;
        color: white;
        font-size: 20px;
    }
      td {
        color:black;
    }
       #subject {
        height: 55px;
    }
</style>
<div id="title">
    <img id="headerImg" src="~/Content/Images/Pencil-icon.png" width="150" />
    <h1 style="color:black">New Message</h1>
</div>
<div class="homepage">
    <div id="content">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            @*<div class="form-group">
                    @Html.LabelFor(model => model.Listing_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Listing_ID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Listing_ID, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            <table cellpadding="10">
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                    </div>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                    </div>
                  
                </tr>

                <tr>
                    <td><input type="submit" value="Send" id="sButton" /></td>
                    
                </tr>
            </table>
        }
    </div>
</div>
