﻿@{
    ViewBag.Title = "Recover Account";
}
<style>
    .homepage {
        border: 10px solid #0094ff;
        border-radius: 70px;
    }
</style>
<div class="homepage">

    <img src='@Url.Content("~/Content/Images/Logo.png")' width="250" ; />
    <div class="container">
        
        <div class="login">
            <h1>Recover Account Details</h1>
           <h3>Enter your Email or Username</h3>
                <p><input type="text" name="login" value="" placeholder="Username"></p>
                <p><input type="text" name="login" value="" placeholder="Email"></p>
                <p><button onclick="alert('Email sent with futher recovery instructions')"> Recover</button></p>
          
        </div>
        
    </div>
</div>


