﻿@model IEnumerable<BooX.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_navbar.cshtml";
}
<style>
    .homepage {
        color: black;
        border: 10px solid #af002c;
        border-radius:70px;
        font-size: 20px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
     #title{
        display: inline-block;
        vertical-align: central;
        width: 100%;
    }

    #title h1{
        padding-top:35px;
    }
     td{
        text-align:left;
    }
</style>
<div id="title">
    <img src='@Url.Content("~/Content/Images/icon_cog.png")' style="width:150px; float:left;" />
    <h1 style="color:black">User Information</h1>
</div>

<div class="homepage">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Full_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Full_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Picture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditUser", new { id = item.ID })

                </td>
            </tr>
        }

    </table>
</div>
