﻿@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_navbar.cshtml";
}
<style>
    .homepage {
        border: 10px solid #009635;
        border-radius: 70px;
        margin-top:15%;
    }
    input {
    border:2px solid #009635;
    border-radius:15px;
    }
      #sButton{
          background-color: #009635;
      }
</style>

<div class="homepage">
    <img src='@Url.Content("~/Content/Images/icon_search.png")' width="200"/>
    <div> 
        <br/>
        <form action="~/SearchR/Index" method="post">
            <input name="searchString" type="text" placeholder="Search..." required>
            <select name="searchBy">
                <option value="0">Title</option>
                <option value="1">Author</option>
                <option value="2">Publisher</option>
            </select>
            <input type="submit" value="Search" id="sButton">
          </form>      
    </div>
</div>