﻿@{
    ViewBag.Title = "Profile";
}

<style>
    .homepage{
        border: 10px solid #bf00ff;
        border-radius:70px;
        background-color: white;
        color:black;
    } 

    input {
        border:2px solid #bf00ff ;
        border-radius:15px;
    }
</style>

@if (Session["LoggedUserFirstName"] != null)
{
    <text>
    Welcome  @Session["LoggedUserFirstName"].ToString() 
    </text>

}

<div class="homepage">
        <img src='@Url.Content("~/Content/Images/icon_smile-o.png")' width="150" ; />
        <h2> Sarah Fakhoury </h2>
        <h4>Computer science | Junior </h4>
        <h4> smf29@mail.aub.edu </h4>


            <table id="profTable">
                <tr>
                    <td><a href="~/Profile/BookDetail"><img src="~/Content/Images/Bbook.png" width="200" /></a> </td>
                    <td><img src="~/Content/Images/book1.png" width="200" /> </td>
                </tr>
                <tr>
                    <td>The Illiad</td>
                    <td>Thomas Calculus</td>
                </tr>
                <tr>
                    <td><img src="~/Content/Images/book2.png" width="200" /> </td>
                    <td><img src="~/Content/Images/Bbook.png" width="200" /> </td>
                </tr>
                <tr>
                    <td>Advanced Algorithms And Data Structures</td>
                    <td>St. Augustine</td>
                </tr>
            </table>
</div>