form {
  font-family: "Helvetica", sans-serif;
}

.button {
     margin-top: 2em;
	 font-weight: bold;
 }
 
fieldset {
  background-color: #ffffcc;
   width: 35em;
    font-weight: bold;
}

fieldset p {
 font-size: small;
}



.float {
  /*float: right;*/
  font-weight: bold;
}


label.heading {
  margin-right: 3.5em;
  font-weight: bold;
  font-size: small;
}
