﻿body {
    zoom: .65;
    padding-top: 1%;
    padding-bottom: 10%;
    background-image: url("Images/lined_paper_@2X.png");
    overflow:auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    align-content:center;
}/* Set padding to keep content from hitting the edges */


h1 {
    font-weight:bold;
}
.body-content {
    padding: 1%;
    padding: 1%;
}


.homepage {
    margin-top:3%;    
    border-radius: 2%;
    font-size: 22pt;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    overflow:auto;
    text-align:center;
    width: 80%;
    color: black;
    padding: 2%;
}

 input {
    border-radius: 5%; 
}  

.search {
    padding: 0.8% 1.5%;
   background:rgba(50, 50, 50, 0.2);
    border: 1px solid #dbdbdb;
}
.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#normalize {
    background-color: #272727;
    color: #ffffff;
     margin-bottom: auto;
     margin-top: auto;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width:auto;
}

#settings{
    padding-left: 1%;
}

#profTable{
    width:100%;
    background-color: white;
    border-radius: 70px;
    color: black;
    float:left;
}

#profTable td{
    width: 50%;
}
#Book td{
    font-size:22px;
    color:black;
    width:auto;
    font-weight:bold;
}
.table {
    background-color: white;
    overflow: auto;
    color: black;
    width: 100%;
}
#sButton {
    border-radius:15px;
    margin: 1%;
    font-weight: bold;
    color: white;
}
#formSearch {
    margin: 3%;
    float: left;
}
   
#results td{
    width: 14.28%;
}
#results{
    clear: both;
}

#title{
display: inline-block;
vertical-align: central;
width: 100%;
}
#title h1{
    padding-top:35px;
}