﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title BooX</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
   @*<div class="navbar navbar-inverse navbar-fixed-bottom" style=" background-color: lightgrey;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style=" background-color: lightgrey;">
                    @*<li>
                        <a href='@Url.Action("Index", "Home")'>
                            <img src='@Url.Content("~/Content/Images/icon_home.png")' width="60%" />
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Profile", "Master")'>
                            <img src='@Url.Content("~/Content/Images/icon_smile-o.png")' width="60%" />
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Index", "Search")'>
                            <img src='@Url.Content("~/Content/Images/icon_search.png")' width="60%" />
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("CreateB", "Master")'>
                            <img src='@Url.Content("~/Content/Images/icon_plus.png")' width="60%" />
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("MessageIndex", "Master")'>
                            <img src='@Url.Content("~/Content/Images/icon_envelope.png")' width="60%" />
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Settings", "Master")'>
                            <img src='@Url.Content("~/Content/Images/icon_cog.png")' width="60%" />
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Index", "Home")'>
                            <img src='@Url.Content("~/Content/Images/icon_switch.png")' width="60%" />
                        </a>
                    </li>*@
    <div class="container body-content">
        @RenderBody()      
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
