﻿@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<style>
.nav {
background-color: #272727;
max-height: 10%;
padding-bottom: 0.5%;
}
.n{
    height:auto;
    bottom:0;
}
ul#nav{
    height:130px;
    list-style:none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-width: 1px 0;    
    text-align: center;
    position: fixed;
    bottom:0;
    width: 100%;
    padding-top: 15px;
}

#nav li{
    display:inline;
    list-style-type: none;
    align-content: center;
    width: auto;
    margin-left: 2.5em;
    margin-right: 2.5em;
}

</style>

<div class="n" style=" background-color: lightgrey;">
                <ul id="nav" style=" background-color: lightgrey;">
                    <li>
                        <a href='@Url.Action("Profile", "Master")'>
                        <img src='@Url.Content("~/Content/Images/icon_smile-o.png")' width="100" />
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Index", "Search")'>
                        <img src='@Url.Content("~/Content/Images/icon_search.png")' width="100" />
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("CreateB", "Master")'>
                        <img src='@Url.Content("~/Content/Images/icon_plus.png")' width="100" />
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("MessageIndex", "Master")'>
                        <img src='@Url.Content("~/Content/Images/icon_envelope.png")' width="100" />
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Settings", "Master")'>
                        <img src='@Url.Content("~/Content/Images/icon_cog.png")' width="100" />
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("LogOut", "Master")'>
                            <img src='@Url.Content("~/Content/Images/icon_switch.png")' width="100" />
                        </a>
                    </li>
                </ul>
    </div>
   
<div class="container body-content">
    @RenderBody()
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)