﻿
<style>
    .homepage{
    background-color: transparent;
    color: black;
    text-align: left;
    font-size: 12pt;
    } 


     input {
    border:2px solid #009635;
    border-radius:15px;


    }
</style>


<div class="homepage">   
    <img src='@Url.Content("~/Content/Images/icon_search.png")' style="width:150px; float:left;" />
        <p style=" font-size: 59px; " > Search</p>
    
    <div class="table">

        <form action="~/SearchResults/Index" id="formSearch">
            <input type="text" placeholder="Search..." required>
            <input type="submit" value="Search">
        </form>


        <table id="results" cellpadding="2">
            <thead>
                <tr>
                    <th>  </th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Course</th>
                    <th>Condition</th>
                    <th>Price</th>
                    <th> </th>
                </tr>
            </thead>
            <tr>
                <td> <img src="~/Content/Images/Bbook.png" width="95%" /> </td>
                <td>The Illiad</td>
                <td> Homer</td>
                <td>CVSP 201</td>
                <td><img src="~/Content/Images/quality2.png" width="95%" /></td>
                <td><img src="~/Content/Images/money5.png" width="95%" /></td>
                <td><a href="~/Messages/NewMessage"><img src="~/Content/Images/icon_envelope.png" width="95%" /></a></td>
            </tr>
            <tr>
                <td> <img src="~/Content/Images/Bbook.png" width="95%" /> </td>
                <td>Thomas Calculus (12th edition)</td>
                <td> George B. Thomas</td>
                <td>Math 201</td>
                <td><img src="~/Content/Images/quality3.png" width="95%" /></td>
                <td><img src="~/Content/Images/money20.png" width="95%" /></td>
                <td><a href="~/Messages/NewMessage"><img src="~/Content/Images/icon_envelope.png" width="95%" /></a></td>
            </tr>

            <tr>
                <td> <img src="~/Content/Images/Bbook.png" width="95%" /> </td>
                <td>Algorithms and Data Structures</td>
                <td> Robert Lafore</td>
                <td>CMPS 256</td>
                <td><img src="~/Content/Images/quality2.png" width="95%" /></td>
                <td><img src="~/Content/Images/money20.png" width="95%" /></td>
                <td><a href="~/Messages/NewMessage"><img src="~/Content/Images/icon_envelope.png" width="95%" /></a></td>
            </tr>

        </table>
    </div>

</div>
